
<!-- {{TAGS}} -->

<!-- <div flex-xs="" flex-gt-xs="40" layout="column"> if smaller divided in columns-->
<md-card>
	<md-card-header>
		<md-card-avatar>
            <img src="firebaseIcon.png">
            </md-card-avatar>
		<md-card-header-text>
			<span class="md-title">Search Firebase</span>
		</md-card-header-text>
	</md-card-header>

<md-card-content  ng-cloak="" class="virtualRepeatdemoVerticalUsage" ><!--  data-ng-init="FetchData()"-->
  <md-content layout="column">

   <form class="form-inline">
   		<md-input-container class="md-block" flex-gt-sm>
   		  <label>Filter By</label>
	      <input ng-model="query" type="text"
	        >
	     </md-input-container>
    </form>


    <form  class="form-inline" ng-submit="Add_Tag() "><!--  Post_Add()-->
    	<md-input-container class="md-block" flex-gt-sm>
   		  <label>Add new tag</label>
			<input  type="text" ng-model="newTagValue"  >
		</md-input-container>
	</form>

		
		 <md-card>
		    <md-virtual-repeat-container id="vertical-container"  ng-show="showData">
		 
		<!-- class="repeated-item"--> 
	<div  md-virtual-repeat="item in TAGS | filter:query | orderBy:'+':true " ng-class="{editing: item == editedTag}" flex>
		   
		     
			<div class='repeated-item'>
		      	<div class="view">

			       <label class='lefto' ng-dblclick="editTag(item)">{{item.name}}</label>

			       <md-button  class=" buttonColor md-fab md-mini righto"  ng-click="removeTAG(item)">
			        	<i class="material-icons" >clear</i>
			        </md-button>
			      
			    </div>

			        <form ng-submit="doneEditing(item)" ng-if='item == editedTag'>
			        	<input  class="edit"  ng-model="item.name"  ng-blur="doneEditing(item)" ng-focus="item == editedTag"  
			        autofocus />
			        </form>
			</div>
				

					
			    
			  

		
			   

		      </div><!-- end ng-repeat-->
		

		    </md-virtual-repeat-container>
		  </md-card>
		
  </md-content>

</md-card-content>
</md-card>

<!--<div> -->