

/*  ============================ virtual container ============================*/ 
.virtualRepeatdemoVerticalUsage #vertical-container {
  height: 250px;
  width: 100%;
  /*max-width: 400px;*/ }

.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  
  clear: both;
}

.virtualRepeatdemoVerticalUsage .repeated-item .lefto{
  float: left;
  padding: 12px 17px 12px 17px;
 
}

.virtualRepeatdemoVerticalUsage .repeated-item .righto{
  float: right;


}

.virtualRepeatdemoVerticalUsage md-content {
  background-color: white;
 
}

.virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
  /*border: solid 1px grey; */
  width:100%;
}

.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  
}


.md-button.md-fab {
        background-color: #00bcd4;
    color: rgb(255,255,255);
  }
.material-icons{
  color:#fec527;
  margin-top: 6px;
}



/*   ----------------  */
.editing {
  border-bottom: none;
   
}

.editing .edit {
  display: block;
  width: 506px;
  padding: 10px;
}

.editing .view {
  display: none;
   width: 400px;
  
  
}

.editing:last-child {
  margin-bottom: -1px;
}



